.red {
    background-color: rgb(237, 75, 78);
}

.orange {
    background-color: rgb(234, 106, 21);
}

.yellow {
    background-color: rgb(253, 218, 8);
}

.green {
    background-color: rgb(164, 186, 107);
}

.blue {
    background-color: rgb(2, 71, 164);
}

section {
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.banner {
    width: 100%;
}

main {
    max-width: 80%;
    margin: auto;
}